.navbar-brand {
    width: 120px;
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 10px !important;;
}

.logo {
    width: 120px;
    height: 50px;
}

.nav-link {
    font-size: larger !important;
    margin-right: 10px;
}

.cars-background {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 400px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.rental-desc {
    margin: 0;
    text-align: center;
    color: brown;
}

.little-desc {
    font-size: 25px;
    font-weight: 900;
}

h1 {
    font-size: 50px !important;
    font-weight: 900 !important;
}

.cars-section {
    background-color: #ffffff;
}

.car-count {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: #ffffff;
    color: black;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 20px !important;
}

.container {
    margin-top: 30px;
}

.card {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    /* position: relative; */
    background-color: #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.card-small .thumbnail {
    min-height: 200px;
}

.card .thumbnail {
    border: 0 none;
    padding: 0;
    margin: 0;
    min-height: 270px;
    position: relative;
}

.card .thumbnail img {
    width: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.card-info {
    padding: 15px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    /* height: 120px; */
}

.card-info a {
    color: #434343;
}

.card-small .card-info h3 {
    font-size: 18px;
}

.card-info h3 {
    margin-top: 0;
    font-size: 22px;
}

.card-info h5 {
    margin-top: 0;
    font-size: 15px;
}

.card-info p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    color: #666666;
    /* height: 60px; */
}
