section {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.b1 {
    width: 60%;
}

.b2 {
    width: 30%;
}

.link-primary {
    text-decoration: none;
}