<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div style="text-align: center;">
    <img src="https://st.quantrimang.com/photos/image/2019/06/24/admin-1.jpg" width="500" height="240">
    </div>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body th:align="center">
<style>
    .home {
        font-size: 25px;
    }
</style>
<h1 th:align="center">Admin panel</h1>
<div th:align="center">
    <p>
        <a th:text="'Car Panel'" th:href="@{'admin/cars'}"/><br>
    </p>
    <p>
        <a th:text="'Branch Panel'" th:href="@{'admin/branches'}"/><br>
    </p>
    <p>
        <a th:text="'Employees Panel'" th:href="@{'admin/employees'}"/><br>
    </p>
    <p>
        <a th:text="'Reservation Panel'" th:href="@{'admin/reservations'}"/><br>
    </p>
    <p>
        <a th:text="'Client Panel'" th:href="@{'admin/clients'}"/><br>
    </p>
</div>
<p class="home" th:align="center">
    <br><a th:text="HOME" th:href="@{'/branches'}"/>
</p>
<footer>
    <p>© 2022 Grupa CarRental ZDJAVApol11</p>
</footer>
</body>
</html>