<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Branch panel</title>
    <link th:rel="icon" th:href="@{/images/icon.png}">
</head>
<body>
<table th:align="center" class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Address</th>
<!--        <th scope="col">Manager name</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="branch : ${branches}">
        <td th:text="${branch.id}"/>
        <td th:text="${branch.address}"/>
<!--        <td th:text="${branch.getManager().surname}"/>-->
        <td><a th:text="delete" th:href="@{/admin/branch/delete/{id} / (id=${branch.id}) }"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>