<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client editor</title>
    <link th:rel="icon" th:href="@{/images/icon.png}">
</head>
<body th:align="center">
<form method="post" th:action="@{/admin/client/update}" th:object="${client}">

    <input type="hidden" th:field="*{id}">

    <label>
        First name:
        <input type="text" th:field="*{firstName}"/>
    </label>

    <label>
        Surname:
        <input type="text" th:field="*{surname}"/>
    </label>

    <label>
        Email:
        <input type="text" th:field="*{email}"/>
    </label>

    <label>
        Address:
        <input type="text" th:field="*{adress}"/>
    </label>

    <button type="submit">Edit client</button>

</form>
<footer>
    <p>© 2022 Grupa CarRental ZDJAVApol11</p>
</footer>
</body>
</html>