<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Circle-icons-car.svg/2048px-Circle-icons-car.svg.png">
</head>
<body>
<form method="post" th:action="@{/admin/employee/save}" th:object="${emptyEmployee}">

    <label>
        First name:
        <input type="text" th:field="*{firstName}"/>
    </label>

    <label>
        Surname:
        <input type="text" th:field="*{surname}"/>
    </label>

    <label>
        Email:
        <input type="text" th:field="*{email}"/>
    </label>

    <label>
        Address:
        <input type="text" th:field="*{address}"/>
    </label>

    <button type="submit">Add employee</button>
</form>
</body>
</html>