<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/css/reservation-create.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${car.make} + ' ' + ${car.model} + ' - reservation'"/>
    <link th:rel="icon" th:href="@{/images/icon.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/cars}">
            <img class="logo" th:src="@{/images/logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cars}">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/branches}">Branches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}">Your reservations</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Admin panel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/h2}">Database</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/reservations}">Reservations</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/employees}">Employees</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/clients}">Clients</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/cars}">Cars</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/branches}">Branches</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form method="post" th:action="@{/reservation/save}" th:object="${emptyReservation}">
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5 fst-italic" th:text="'Fill in the fields below to make a reservation'"/>

                            <input name="carId" type="hidden" th:value="${car.getId()}"/>

                            <div class="car-img-div mb-5">
                                <img class="car-img" th:src="@{'/car-images/' + ${car.model} + '.jpg'}">
                            </div>
                            <div class="name">
                                <input type="text" pattern="^[a-zA-Z]+$" title="Invalid name"
                                       class="form-control d-inline first-name" placeholder="First name"
                                       th:field="*{client.firstName}" required/>

                                <input type="text" pattern="^[a-zA-Z]+$" title="Invalid surname"
                                       class="form-control d-inline surname" placeholder="Surname"
                                       th:field="*{client.surname}" required/>

                                <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Invalid email address"
                                       class="form-control d-inline email" placeholder="E-mail"
                                       th:field="*{client.email}" required/>
                            </div>
                            <div class="tel-address mt-3">
                                <input type="tel" pattern="[5678][0-9]{8}" title="Invalid phone number"
                                       class="form-control d-inline phone-number" placeholder="Phone number"
                                       th:field="*{client.tel}" required/>

                                <input type="text" class="form-control d-inline address" placeholder="Address"
                                       th:field="*{client.adress}" required/>
                            </div>
                            <div class="input-group mt-3 date">
                                <label for="fromDate" class="input-group-text">From date: </label>
                                <input type="date" class="form-control d-inline from-date" id="fromDate"
                                       th:field="*{fromDate}" required/>

                                <label for="toDate" class="input-group-text">To date: </label>
                                <input type="date" class="form-control d-inline to-date" id="toDate"
                                       th:field="*{toDate}" required/>
                            </div>
                            <div class="branch-select-div mt-3">
                                <select name="branchStart" class="form-select branch-select" th:object="${branchStart}"
                                        required>
                                    <option selected disabled value="">Select pick-up location</option>
                                    <option th:each="branch : ${branches}" th:text="${branch.getAddress()}"
                                            th:value="${branch.getId()}"/>
                                </select>
                            </div>
                            <div class="branch-select-div mt-3">
                                <select name="branchEnd" class="form-select branch-select" th:object="${branchEnd}"
                                        required>
                                    <option selected disabled value="">Select return location</option>
                                    <option th:each="branch : ${branches}" th:text="${branch.getAddress()}"
                                            th:value="${branch.getId()}"/>
                                </select>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-outline-success btn-lg">Book now!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>